/* Login page styles */

.loginContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.loginContainer h2 {
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
}


.stretch {
    font-size: 1.2em;
    display: inline-block;
    margin: 35px;
    -webkit-transform: scale(2, 1);
    -moz-transform: scale(2, 1);
    -o-transform: scale(2, 1);
    transform: scale(2, 1);
}

.form {
    width: 25rem;
    max-width: 25rem;
    padding: 2rem;
    background-color: grey;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.formGroup {
    width: 100%;
    margin-bottom: 1em;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input {
    background-color: #222222;
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    /* border: 1px solid #ccc; */
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-color: #0077cc;
    /* box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.2); */
}

.btnPrimary {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 30%;
    position: relative;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.8125rem;
    width: 8.44rem;
    background-color: #000000;
    color: white;
    border: 1px solid #222222;
    touch-action: manipulation;
    transition: box-shado -ms-transformw .2s, .1s, -webkit-transform .1s, transform .1s;
}

.btn-primary:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.btnPrimary:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.btnPrimary:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}