.boardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 19, 19);
    /* background: -moz-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%); */
    /* background: -webkit-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%); */
    background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.f {
    color: aliceblue;
}

.board {
    border: 1px solid red;
    width: 800px;
    height: 200px;
}

.board:hover {
    box-shadow: 1px white;
}

.thead {
    padding: 1rem;
    font-size: 2rem;
    color: aliceblue;
    border-bottom: 1px solid black;
}

.tbody .tdata {
    padding: 0.8rem;
    font-size: 1.5rem;
    border: 1px solid black;
    text-align: center;
    color: aliceblue;
}