@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


/* @media(max-width:620px) {
  #contact form {
      width: 90%;
  }
}

@media(max-width:1190px) {
  #main {
      background-size: 1150px !important;

  }

  .name {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .name h2 {
      font-size: 1.5rem;
  }

  .name h1 {
      font-size: 3rem;
  }

  .name .details {
      font-size: 1rem;
  }

  .pr-heading {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .pr-heading h2 {
      font-size: 1.5rem;
  }

  .pr-heading h1 {
      font-size: 3rem;
  }

  .pr-heading .details {
      font-size: 1rem;
  }

  #features {
      height: auto;
  }

  .a-container {
      flex-wrap: wrap;
  }

  .a-box {
      flex-grow: 1;
  }

  .a-b-img img {
      object-fit: contain;
  }



}

@media(max-width:970px) {
  #main {
      height: 650px;
  }

  .name {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .pr-heading {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .header-btn {
      margin-left: 20%;
      margin-top: 20px;
  }

  .pr-btn {
      margin-left: 20%;
      margin-top: 20px;
  }

  #about {
      justify-content: center;
      padding-top: 0px;
      text-align: center;

      margin-top: 0px;
  }

  #features {
      margin-bottom: 100px;
  }
}

@media(max-width:600px) {
  .name {
      width: 60%;
  }

  .pr-heading {
      width: 60%;
  }
}

@media(max-width:1100px) {
  .menu-icon {
      display: block;
  }

  nav {
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
  }

  .logo img {
      width: 70px;
  }

  .header-btns {
      margin: 0;
  }

  .pr-btns {
      margin: 0;
  }

  .menu {
      display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      background-color: #000000;
      border-bottom: 4px solid #FF1414;
      width: 100%;
      padding: 0px;
      margin: 0px;
  }

  .menu li {
      width: 100%;
  }

  nav .menu li a {
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 25px;
      border: 1px solid rgba(38, 38, 38, 0.03);
  }

  nav .menu-icon {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
  }

  nav .menu-icon .nav-icon {
      background-color: #ffffff;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 24px;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
      background: rgb(255, 255, 255);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all ease-out 0.2s;
      width: 100%;
  }

  nav .menu-icon .nav-icon:before {
      top: 6px;
  }

  nav .menu-icon .nav-icon:after {
      top: -6px;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon {
      background: transparent;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top: 0;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top: 0;
  }

  nav .menu-btn {
      display: none;
  }

  nav .menu-btn:checked~.menu {
      display: block;
  }
}


/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */