.sportsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sportBox {
    background-color: #000000;
    width: 250px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}

.sBImg {
    width: 100%;
    height: 60%;

}

.sBImg img {
    padding: 15px;
    margin-top: 40px;
    width: 100%;
    height: 50%;
}

.sportBox:hover {
    border: 1px solid #FF1414;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}

.sBText {
    width: 100%;
    height: 40%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.sBText h2 {
    color: #fff;
}

.sBText p {
    margin: 0px;
    color: #ffffffa6;
    font-size: 1.1rem;
    font-family: 'Lato';
    display: block;
    display: -webkit-box;
    max-width: 80%;
    margin-top: 5px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.sBText p:hover {
    color: #ffffff;
}

.sBText a {
    margin-top: 15px;
}


#features {
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #000000;
}

#features h1 {
    color: #fff;
    /* color: red; */
    font-size: 3rem;
}


@media(max-width:1190px) {

    #features {
        height: auto;
    }

    .sportsContainer {
        flex-wrap: wrap;
    }

    .sportBox {
        flex-grow: 1;
    }

    .sBImg img {
        object-fit: contain;
    }
}


@media(max-width:970px) {
    #main {
        height: 650px;
    }

    #features {
        margin-bottom: 100px;
    }
}

@media(max-width:400px) {
    .sportBox {
        width: 100%;
        height: 400px;
    }
}