.container {
    width: 100%;
    /* margin: 0 auto; */
}

.header {

    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
}

.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-details,
.bid-status,
.team-member-list {
    width: 30%;
    height: 80vh;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-details h2,
.bid-status h2,
.team-member-list h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
}

.player-details p,
.player-details h1 {
    margin: 5px 0;
    padding-left: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer p {
    font-size: 14px;
    color: #999;
}

.body p {
    color: aliceblue;
}