.header {
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

.body {
    width: 99%;
    height: 90vh;
    /* background-color: green; */
    color: white;
    margin: 5rem 0 0 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(166, 39, 39, 0.802); */
}

.header h1 {
    color: red;
}

.card {
    background-color: #000000;
    width: 31rem;
    height: 42em;
    /* margin: 0; */
    margin: .8rem 0 0 2rem;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    /* border: 1px solid white; */
}

.cImg {
    width: 100%;
    height: 60%;

}

.cImg img {
    padding: 15px;
    margin-top: 40px;
    width: 100%;
    height: 50%;
}


.card:hover {
    border: 1px solid #FF1414;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}


.detailBox {
    width: 100%;
    height: 40%;
    margin-top: 3rem;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.playerDetail {
    color: white;
    padding: 0.5rem;
}

.playerDetail span {
    font-size: 1.1rem;
}

.playerDetail .userStats {
    margin-left: 2rem;
}

.playerDetail .userStatsValue {
    margin-right: 2rem;
}

.userName {
    margin: 1rem;
}

.userName h1 {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}

/*bid-status table */

.boardContainer {
    margin-top: 1em;
    /* margin-bottom: 1em; */
    width: 40%;
    height: 80%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border: .5px solid rgb(57, 52, 52); */
    background-color: black;
    background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.board {
    border: .5px solid black;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.thead {
    padding: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    /* border-bottom: 1px solid black; */
}

.tdata {
    padding: 1rem;
    font-size: 1.2rem;
    /* border: 1px solid rgb(26, 25, 25); */
    text-align: center;
    color: aliceblue;
}

.bidBtn {
    margin: 2rem calc(40%);
    width: 6em;
    height: 2em;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #FF1414;
    font-size: 2.5em;
}

.bidBtn:hover {
    border: 2px solid white;
    cursor: pointer;
}


/*Squad List */

.teamMemberList {
    background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
}


.teamName {
    font-size: 1.5rem;
    padding: 0 0 0.8em 1.5em;
    color: white;
}

.team {
    text-align: center;
    padding-bottom: 1em;
    color: #fb3232;
    text-transform: capitalize;
}

/* @media screen and (max-width: 1024px) {
    .card .cardItem {
        width: 33%;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .card .cardItem {
        width: 50%;
    }

    .wrapper .header {
        font-size: 16px;
        height: 50px;
    }
}

@media screen and (max-width: 568px) {
    .card .cardItem {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .card .cardItem {
        width: 100%;
    }
}*/