.menu {
    list-style: none;
}


.menuBtn {
    outline: none;
    border: none;
}

.logo img {
    width: 90px;
}

#navbarBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}

.active {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
    background-color: #000000;
}

#navbarBox ul {
    display: flex;
}

.active {
    background-color: #FF1414;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
    transition: all ease 0.2s;
}

.active:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
    transition: all ease 0.2s;
}

#navbarBox ul li a {
    font-family: 'Lato';
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

#navbarBox ul li a:hover {
    cursor: pointer;
    background-color: #FF1414;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    transition: all ease 0.2s;
}

.end {
    margin-right: 3rem;
}

#navbarBox .menuBtn,
.menuIcon {
    display: none;
}

.name {
    text-align: center;
    font-family: 'Montserrat';
    width: 900px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
}

.name span {
    color: #FF1414;
}

.name .details {
    font-size: 23px;
    color: #c5c5c5;
}

.name h2 {
    font-family: 'Lato';
    font-size: 2.7rem;
    margin: 0px;
    letter-spacing: 2px;
    color: #ffffff;
}

.name h1 {
    font-family: 'Lato';
    font-size: 5rem;
    margin: 0px;
    letter-spacing: 2px;
    color: #ffffff;
}


@media(max-width:1100px) {
    .menuIcon {
        display: block;
    }

    #navbarBox {
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
    }

    .logo img {
        width: 70px;
    }

    .active .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #000000;
        border-bottom: 4px solid #FF1414;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .menu li {
        width: 100%;
    }

    .active .menu li a {
        display: none;
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);
    }

    #navbarBox .menuIcon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    #navbarBox .menuIcon .navIcon {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 24px;
    }

    #navbarBox .menuIcon .navIcon:before,
    #navbarBox .menuIcon .navIcon:after {
        background: rgb(255, 255, 255);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }

    #navbarBox .menuIcon .navIcon:before {
        top: 6px;
    }

    #navbarBox .menuIcon .navIcon:after {
        top: -6px;
    }

    #navbarBox .menuBtn:checked~.menuIcon .navIcon {
        background: transparent;
    }

    #navbarBox .menuBtn:checked~.menuIcon .navIcon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    #navbarBox .menuBtn:checked~.menuIcon .navIcon:after {
        transform: rotate(45deg);
        top: 0;
    }

    #navbarBox .menuBtn {
        display: none;
    }

    #navbarBox .menuBtn:checked~.menu {
        display: block;
    }
}