.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.formContainer h2 {
    color: white;
    margin: 1em;
    text-transform: uppercase;
}

.stretch {
    font-size: 1.2em;
    display: inline-block;
    margin: 35px;
    -webkit-transform: scale(2, 1);
    -moz-transform: scale(2, 1);
    -o-transform: scale(2, 1);
    transform: scale(2, 1);
}

.formGroup {
    width: 100%;
    margin-bottom: 1rem;
}

.form {
    /* padding: 2rem; */
    background-color: grey;
    /* width: 50%; */
    width: 20%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.input {
    background-color: #222222;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1.125rem;
    color: white;
}


.input:focus {
    outline: none;
    border-color: #0077cc;
    box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.2);
}

.error {
    display: block;
    margin-top: 0.5rem;
    color: red;
    font-size: 0.8rem;
}

.btnPrimary {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 30%;
    position: relative;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.8125rem;
    width: 8.44rem;
    background-color: #000000;
    color: white;
    border: 1px solid #222222;
    touch-action: manipulation;
    transition: box-shado -ms-transformw .2s, .1s, -webkit-transform .1s, transform .1s;
}

.btn-primary:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.btnPrimary:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.btnPrimary:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

@media screen and (min-width: 480px) {

    /* #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    } */
    /* 
    form {
        background-color: #0077cc;
    } */
}