.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    width: 20%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="date"],
textarea,
button[type="submit"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
button[type="submit"]:focus,
input[type="file"]:focus {
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #3e8e41;
}

input[type="file"] {
    display: none;
}



.fileUploadLabel {
    display: inline;
    padding-left: 20px;
    font-size: 16px;
    color: #555;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file {
    display: inline;
    padding: 20px;
}

/* .chooseFile {
    border: 1px solid;
    border-radius: 0.5rem;
  } */